.htmx-indicator {
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.contact.htmx-swapping {
    opacity:0;
    transition: opacity 500ms ease-in;
}

.container {
    display: flex;
}

.contact-name {
    flex: 0.4; /* Each column takes up equal space */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
}

.contact-delete {
    flex: 0.04; /* Each column takes up equal space */
    padding: 10px; /* Add padding for spacing */
}

.contact-email {
    flex: 1; /* Each column takes up equal space */
    padding: 10px; /* Add padding for spacing */
    border: 1px solid #ccc; /* Optional: Add border for visual separation */
}
