package tabviews

import (
	"fmt"
	"FOOdBAR/views/viewutils"
)

templ RecipeTabContents(td *viewutils.TabData) {
	@viewutils.RenderPointerListWithComponent(td.GetTabItems(), RecipeItemContainer)
}

templ RecipeItemContainer(item *viewutils.TabItem) {
	<div id={ fmt.Sprintf("%s", item.ItemID.String()) } class={ TabListItemCSS() }>
		<div class={ ListItemElementCSS() }>
			{ item.ItemID.String() }
		</div>
		<div class={ ListItemElementCSS() }>
			@viewutils.Trashcan()
		</div>
	</div>
}
