package tabviews

import (
	"fmt"
	"foodbar/views/viewutils"
)

templ ShoppingTabContents(td viewutils.TabData) {
	@viewutils.RenderListWithComponent(td.Items, ShoppingItemContainer)
}

templ ShoppingItemContainer(item viewutils.TabItem) {
	<div id={ fmt.Sprintf("%s", item.ItemID.String()) } class={ TabListItemCSS() }>
		<div class={ ListItemElementCSS() }>
			{ item.ItemName }
		</div>
		<div class={ ListItemElementCSS() }>
			@Trashcan()
		</div>
	</div>
}
