package tabviews

css TabListContainerCSS() {
	display: flex;
	flex-direction: column;
	flex: 1;
}

css TabListItemCSS() {
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 3px outset;
	border-radius: 10px;
	padding: 5px;
}

css ListItemElementCSS() {
	display: flex;
	flex-direction: row;
	border: none;
	align-items: center;
	flex: 1;
	justify-content: center;
}
